<!DOCTYPE html>
<html ng-app='LunchCheck'>
  <head>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style> body { font-size: 1.2em; }</style>
    <title>Expressions and Interpolation</title>
  </head>
<body >
   <div class="container" ng-controller='LunchCheckController'>
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             ng-model="name"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">

         </div>

         <div class="form-group">
             <button class="btn btn-default" ng-click="statement()">Check If Too Much</button>

         </div>
         <div class="form-group message" >
           <!-- Your message can go here. -->
{{message}}
         </div>
   </div>
<script type="text/javascript">

  (function () {
  'use strict';

  angular.module('LunchCheck', [])
  .controller('LunchCheckController', LunchCheckController);

  LunchCheckController.$inject = ['$scope'];
  function LunchCheckController($scope) {
    $scope.name = '';
    $scope.message = '';


      $scope.statement = function () {
        if ($scope.name.split(",")==0) {
          return   $scope.message = "Please enter data first!"
        }
        else if ($scope.name.split(",").length>3) {
          return   $scope.message ="Too much!"
        }
        else if (0<$scope.name.split(",").length<4) {
          return   $scope.message ="Enjoy!"
        }

      };

  }

  })();


</script>
</body>
</html>
